* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app {
  display: grid;
  grid-template-columns: 241px 1fr;
  grid-template-rows: auto;
  grid-template-areas:
    "aside header"
    "aside main";
  font-family: "Helvetica Neue", "helvetica", "arial", "Hiragino Kaku Gothic Pro", "Meiryo", "MS Gothic", "sans-serif";
}

.header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  padding: 16px 32px;
  padding-inline-end: 32px;
  width: 100%;
  z-index: 3;
  height: 64px;
  position: sticky;
  top: 0;
  background-color: rgb(18, 18, 18);
}

.header__navigation {
  display: flex;
  pointer-events: auto;
  white-space: nowrap;
  border: 0;
  margin: 0;
  padding: 0;
  vertical-align: baseline;
  color: #b3b3b3;
}

.back-button, .forward-button {
  margin-right: 16px;
  cursor: not-allowed;
  opacity: .6;
  display: inline-flex;
  align-items: center;
  background-color: rgba(0,0,0,.7);
  border: none;
  border-radius: 50%;
  color: white;
  height: 32px;
  justify-content: center;
  position: relative;
  width: 32px;
}

.navigation__button {
  fill: currentcolor;
}

.tariff {
  padding: 8px 34px;
  border-radius: 500px;
  background-color: rgba(0, 0, 0, .7);
  border: 1px solid rgba(255, 255, 255, .7);
  color: white;
  display: inline-block;
  cursor: pointer;
  font-size: 12px;
  font-weight: 700;
  letter-spacing: 0.5em;
  line-height: 18px;
  transition: all 33ms cubic-bezier(.3, 0, 0, 1);
  will-change: transform;
  text-transform: uppercase;
  text-align: center;
}

.accordion {
  grid-area: aside;
  background-color: black;
}

.accordion__navigation {
  padding-top: 24px;
  position: sticky;
  top: 0;
}

.banner {
  display: flex;
  justify-content: space-between;
  width: 241px;
  height: 65.594px;
}

.logo {
  position: relative;
  border: 0;
  flex: 1;
  width: 193px;
  height: 47.594px;
  padding: 0 24px;
  margin-bottom: 18px;
}

.tags {
  list-style: none;
  width: 241px;
  height: 120px;
}

.tag {
  padding: 0 8px;
  width: 225px;
  height: 40px;
}

.menu__item {
  display: flex;
  width: 193px;
  height: 40px;
  padding: 0 16px;
  color: lightgray;
}

.menu__item:hover {
  color: white;
}

.content {
  grid-area: main;
  background-color: #121212;
}

.content__div {
  margin: 0;
  border: 0;
  display: grid;
  grid-gap: 24px;
  padding: 24px 32px 0 32px;
  vertical-align: baseline;
}

.section {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  min-height: 300px;
  min-width: 100%;
  position: relative;
}

.section_div {
  align-items: flex-end;
  display: flex;
  margin-bottom: 16px;
}

.section__description {
  align-items: flex-end;
  display: flex;
  margin-bottom: 16px;
}

.section {
  color: white;
}

.section__content {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(5, 1fr);
}

.card {
  flex: 1;
  background: #181818;
  border-radius: 5px;
  isolation: isolate;
  padding: 16px;
  position: relative;
  transition: background-color .3s ease;
}

.card__img {
  border-radius: 5px;
}

.card__description {
    width: 161px;
    height: 62px;
}

.caption {
  font-size: 1rem;
  line-height: 1.5rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 700;
  padding-bottom: 4px;
  color: inherit;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: white;
}

.author {
  height: 32px;
  font-size: 0.875rem;
  line-height: 1rem;
  text-transform: none;
  letter-spacing: normal;
  font-weight: 400;
  color: #6a6a6a;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.link {
  text-decoration: none !important;
}